:root{
	--glitch-color-red: rgba(204, 15, 57, 0.75);
	--glitch-color-aqua: rgba(15, 251, 249, 0.75);
	--glitch-color-yellow: rgba(205, 199, 100, 0.75);
}

body {
	background: #222;
	min-height: 100vh;
	display: grid;
	place-items: center;
	color: white;
	font-family: sans-serif;
}

/*	//////////////////////////////
	||	PANNEAU EN CONSTRUCTION ||
	//////////////////////////////
*/	
.glitch {
	font-size: 8rem;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;

	text-shadow: 0.05em 0 0 var(--glitch-color-red),
	-0.025em -0.05em 0 var(--glitch-color-aqua),
	0.025em 0.05em 0 var(--glitch-color-yellow);

	animation: glitch 500ms infinite;
}

.glitch span {
	position: absolute;
	top: 0;
	left: 0;
}

.glitch span:first-child {
	animation: glitch 650ms infinite;
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
	transform: translate(-0.025em, -0.0125em);
	opacity: 0.8;
}

.glitch span:last-child {
	animation: glitch 375ms infinite;
	clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
	transform: translate(0.0125em, 0.025em);
	opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
	0% {
	text-shadow: 0.05em 0 0 var(--glitch-color-red),
		-0.05em -0.025em 0 var(--glitch-color-yellow),
		-0.025em 0.05em 0 var(--glitch-color-aqua);
	}
	14% {
	text-shadow: 0.05em 0 0 var(--glitch-color-red),
		-0.05em -0.025em 0 var(--glitch-color-yellow),
		-0.025em 0.05em 0 var(--glitch-color-aqua);
	}
	15% {
	text-shadow: -0.05em -0.025em 0 var(--glitch-color-red),
		0.025em 0.025em 0 var(--glitch-color-yellow),
		-0.05em -0.05em 0 var(--glitch-color-aqua);
	}
	49% {
	text-shadow: -0.05em -0.025em 0 var(--glitch-color-red),
		0.025em 0.025em 0 var(--glitch-color-yellow),
		-0.05em -0.05em 0 var(--glitch-color-aqua);
	}
	50% {
	text-shadow: 0.025em 0.05em 0 var(--glitch-color-red),
		0.05em 0 0 var(--glitch-color-yellow), 0 -0.05em 0 var(--glitch-color-aqua);
	}
	99% {
	text-shadow: 0.025em 0.05em 0 var(--glitch-color-red),
		0.05em 0 0 var(--glitch-color-yellow), 0 -0.05em 0 var(--glitch-color-aqua);
	}
	100% {
	text-shadow: -0.025em 0 0 var(--glitch-color-red),
		-0.025em -0.025em 0 var(--glitch-color-yellow),
		-0.025em -0.05em 0 var(--glitch-color-aqua);
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
	animation-delay: -1ms !important;
	animation-duration: 1ms !important;
	animation-iteration-count: 1 !important;
	background-attachment: initial !important;
	scroll-behavior: auto !important;
	transition-duration: 0s !important;
	transition-delay: 0s !important;
	}
}

/*	////////////
	|| HEADER ||
	////////////
*/

#intro {
  background-image: url("https://picsum.photos/1920/1080?grayscale");
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}
