@import url('https://fonts.google.com/noto/specimen/Noto+Serif+JP?query=japanese&sort=popularity');

:root {
    --main-font-color: #002631;
    --subtle-font-color: #3c626d;

    --font-size-base: clamp(1rem, 0.83rem + 0.85vw, 1.2rem );
    --font-size-090: clamp(0.83rem, 0.8rem + 0.18vw, 0.93rem);
    --font-size-200: clamp(1.2rem, 0.8rem + 2.01vw, 2.23rem);
    --font-size-300: clamp(1.44rem, 0.65rem + 3.93vw, 3.45rem);
    --font-size-500: clamp(1.73rem, 0.31rem + 7.07vw, 4.35rem);
    --font-size-800: clamp(2.07rem, -0.36rem + 12.14vw, 7rem);

    --color-blue: rgba(89, 176, 236, 0.8);
    --color-blue-light: rgba(136, 222, 236, 0.8);
    --color-pink-light: rgba(255, 223, 255, 0.8);
    --landing-header-color: #fff0ff;

    --circle-size: 28vw;
    --color-pink-lighter: #F2EDF1;
    --color-pink-dark: #EBB3E6;
    --color-transparent: rgba(255, 255, 255, 0);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
    list-style: none;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1.5;

    font-family: "Maison Neue", Arial, sans-serif;
    font-size: var(--font-size-base);
    color: var(--main-font-color);

    background-color: var(--color-pink-lighter);
}

section {
    --flow-space: clamp(1rem, 0.83rem + 0.85vw, 1.44rem);
    flex-basis: 30rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Times New Roman", serif;
    font-weight: 400;
}

h1{
    font-size: var(--font-size-800);
}

h2 {
    font-size: var(--font-size-500);
}

h3 {
    font-size: var(--font-size-300);
}

h4 {
    font-size: var(--font-size-200);
}

img, picture {
    max-width: 100%;
    display: block;
}

.circle {
    border-radius: 50%;
}

.subtle {
    color: var(--subtle-font-color);
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}


.text-300 {
    font-size: var(--font-size-300);
}

.text-500 {
    font-size: var(--font-size-500);
}

.text-800 {
    font-size: var(--font-size-800);
}

.wrapper {
    max-width: 95rem;
    padding-inline: clamp(1rem, 0.83rem + 0.85vw, 1.44rem);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.landing-page-content {
    justify-content: space-between;
    margin-top: clamp(1rem, 0.83rem + 0.85vw, 1.44rem);
    gap: clamp(1.2rem, 0.8rem + 2.01vw, 2.23rem);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-grid {
    display: grid;
    gap: 1em;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
        'one'
        'two'
        'three'
        'four';
}

.project-item:nth-child(1) {
    grid-area: one;
}

.project-item:nth-child(2) {
    grid-area: two;
}

.project-item:nth-child(3) {
    grid-area: three;
}

.project-item:nth-child(4) {
    grid-area: four;
}

@media (min-width: 40em) {
    /*.project-grid {*/
    /*    grid-template-columns: repeat(3, 1fr);*/
    /*}*/

    /*.project-item:nth-child(3) {*/
    /*    background-color: lightblue;*/
    /*    grid-column-start: 3;*/
    /*    grid-row: 1 / span 2;*/
    /*}*/

    /*.grid-col-span-2 {*/
    /*    grid-column: span 2;*/
    /*}*/
    .project-grid {
        grid-template-areas:
            'one one three'
            'two four three';
    }
}

.project-item {
    background-color: var(--color-pink-dark);
    border-radius: 12px;
}

#landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image:
            linear-gradient(
                    var(--color-blue) 20%,
                    var(--color-blue-light)80%,
                    var(--color-pink-light)
            ),
            url('../img/noise.svg');
}
/* Navbar*/
#landing-top{
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 2rem 0;
}

/* Modified version of https://codepen.io/dig-lopes/pen/WLVGda */
.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    list-style: none;
    margin: 0 .25em;
}

.nav-link {
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.9em;
    border-radius: 50%;
    border: solid;
    font-size: 1.44rem;
    color: var(--main-font-color);
    transition: .5s;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--color-pink-lighter);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.nav-link:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--color-pink-lighter);
}

.nav-link:hover {
    color: var(--color-pink-lighter);
    box-shadow: 0 0 5px var(--color-pink-lighter);
    text-shadow: 0 0 5px var(--color-pink-lighter);
}
/* Navbar End*/


#landing-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


/* Website Name*/
#website-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    transition: 1s;
    z-index: 10;
}

#website-title:hover {
    transform: scale(0.9);
}

#website-title h1 {
    letter-spacing: 0.25em;
    border-bottom: solid;
}
/* Website  Name*/


/* Moon Figure*/
.moon {
    display: inline-block;
    position: absolute;
    top: 6vh;
    left: 3vw;
    height: var(--circle-size);
    width: var(--circle-size);

    background-image:
            radial-gradient(
                    circle at 85% 95%, /* *shape* at *position* (from left and top)*/
                    var(--color-transparent)5%,
                    var(--color-pink-dark)65%
            );
    filter: blur(1px);

    transition: 2s;
}

.moon:hover {
    transform: scale(1.1);
}

/* Highlight and border of the moon*/
.moon:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image:
            radial-gradient(
                    circle at 25% 10%, /* *shape* at *position* (from left and top)*/
                    var(--color-pink-lighter)10%,
                    var(--color-transparent)45%
            ),
            radial-gradient(
                    circle at 50%,
                    var(--color-transparent) 60%,
                    var(--color-pink-light)
            );
    z-index: 2;
}
/* Moon Figure*/


/* Contact Button*/
.contact-me {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--landing-header-color);
    font-size: 1.5em;
    border: var(--landing-header-color) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.1em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 white, 0 0 0.5em 0 var(--landing-header-color);
}

.contact-me:hover,
.contact-me:focus {
    color: var(--color-blue);
    background-color: var(--landing-header-color);
    text-shadow: none;
    box-shadow: 0 0 1em 0.2em var(--landing-header-color);
}
/* Contact Button*/
