@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&family=Nunito+Sans&display=swap');

/* ===== CSS RESET ====== */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* ===== CSS RESET ====== */
:root {
    --clr-neutral-100: rgb(60, 98, 109);
    --clr-neutral-300: rgb(0, 48, 61);
    --clr-neutral-400: rgb(0, 38, 49);
    --clr-neutral-800: rgb(0, 19, 20);

    --clr-primary-200: rgba(242, 237, 241);
    --clr-primary-300: rgb(255, 232, 252);
    --clr-primary-400: rgba(255, 223, 255);
    --clr-primary-800: rgb(235, 179, 230);

    --clr-secondary-200: rgba(136, 222, 236);
    --clr-secondary-400: rgba(89, 176, 236);

    --bg-clr-primary-200: rgba(242, 237, 241, 0.8);
    --bg-clr-primary-400: rgba(255, 223, 255, 0.8);
    --bg-clr-primary-800: rgba(235, 179, 230, 0.8);
    --bg-clr-secondary-200: rgba(136, 222, 236, 0.8);
    --bg-clr-secondary-400: rgba(89, 176, 236, 0.8);

    /* 98.css */
    --surface: #c0c0c0;
    --window-frame: #0a0a0a;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;

    --border-width: 1px;
    --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);
    --border-window-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-face);
    --border-window-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-highlight);
    --border-field: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
    inset 2px 2px var(--window-frame);

    --element-spacing: 0.5rem;
    --grouped-element-spacing: 0.35rem;

    --fs-300: clamp(0.83rem, 0.8rem + 0.18vw, 0.93rem);
    --fs-400: clamp(1rem, 0.83rem + 0.85vw, 1.44rem );
    --fs-500: clamp(1.2rem, 0.8rem + 2.01vw, 2.23rem);
    --fs-600: clamp(1.44rem, 0.65rem + 3.93vw, 3.45rem);
    --fs-700: clamp(1.73rem, 0.31rem + 7.07vw, 5.35rem);
    --fs-800: clamp(2.07rem, -0.36rem + 12.14vw, 7rem);
    --fs-900: clamp(2.07rem, -0.36rem + 12.14vw, 8.3rem);

    --fw-400: 500;
    --fw-500: 700;
    --fw-900: 900;
}
@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif.woff") format("woff"),
        url("fonts/ms_sans_serif.woff2") format("woff2");
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1.5;
    color: var(--clr-neutral-400);
    background:
            linear-gradient(
                    var(--bg-clr-secondary-400),
                    var(--bg-clr-secondary-200),
                    var(--bg-clr-primary-400)100vh,
                    var(--bg-clr-primary-200)),
            url('../img/noise.svg');
}

h1,
h2 {
    font-family: "Times New Roman", serif;
    line-height: 1.1;
}

h1 {
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
}

h2 {
    font-size: var(--fs-600);
    font-weight: var(--fw-900);
}

h3 {
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
}

a {
    color: var(--clr-neutral-400);
    text-decoration: none;
}

.form-98 button,
.form-98 label,
.form-98 input,
.form-98 textarea,
.form-98 select,
.form-98 option,
.form-98 ul.tree-view,
.window-98,
.title-bar-98{
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    -webkit-font-smoothing: none;
}

/* Composition */
/**
 * FLOW
 * Applies a margin to sibling elements based on a --flow-space custom property.
 * "* + *" == where(not(first-child))
 */
.flow > * + *{
    margin-top: var(--flow-space, var(--fs-600));
}

/**
 * REGION
 * Sets a flex-wrap: wrap to make the region responsive
 * Used with CONTENT-PAIR
 */
.region {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

/**
 * CONTENT-PAIR
 * Divides the screen between a paragraph and a figure
 */
.content-pair {
    justify-content: space-between;
    gap: var(--fs-500);
}
.content-pair > figure {
    flex-basis: 40rem;
}
.content-pair p {
    max-width: 30ch;
}

.project-grid {
    display: grid;
    gap: var(--fs-400);
}
@media (min-width: 40em) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}


/* Utility */
/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
    max-width: 95rem;
    padding-inline: var(--fs-400);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.wrapper[data-type=narrow] {
    max-width: 82rem;
}

.flow-gap-400 {
    --flow-space: var(--fs-400)
}
.flow-gap-500 {
    --flow-space: var(--fs-500)
}
.flow-gap-600 {
    --flow-space: var(--fs-600)
}
.flow-gap-900 {
    --flow-space: var(--fs-900)
}

.text-400 {
    font-size: var(--fs-400);
}
.text-500 {
    font-size: var(--fs-500);
}
.text-600 {
    font-size: var(--fs-600);
}
.text-700 {
    font-size: var(--fs-700);
}
.text-800 {
    font-size: var(--fs-800);
}
.text-900 {
    font-size: var(--fs-900);
}

.weight-900 {
    font-weight: var(--fw-900);
}


.center {
    display: grid;
    justify-content: center;
    align-content: center;
}

.button {
    padding: .5em;
    text-decoration: none;
    border-radius: .1em;
    color: var(--btn-text-clr, var(--clr-primary-200));
    background-color: var(--btn-bg-clr, var(--clr-neutral-400));
    transition: .2s;
}
.button:hover {
    color: var(--btn-text-clr-hover, var(--clr-neutral-400));
    background-color: var(--btn-bg-clr-hover, var(--clr-primary-200));
    box-shadow: 0 0 2px 1px var(--clr-neutral-100);
}

.subtitle {
    color: var(--clr-neutral-100);
    line-height: 0;
}

/* From 98.css: https://github.com/jdan/98.css/ */
.button-98 {
    box-sizing: border-box;
    border: none;
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;

    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
}
.button-98:not(:disabled):active {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    padding: 2px 11px 0 13px;
}
.button-98:not(:disabled):hover {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}
.button-98:focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
}

.window-98 {
    box-shadow: var(--border-window-outer), var(--border-window-inner);
    background: var(--surface);
    padding: 3px;
}
.window-body-98 {
    margin: var(--element-spacing);
}

.title-bar-98 {
    background: linear-gradient(
            90deg,
            var(--dialog-blue),
            var(--dialog-blue-light)
    );
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-bar-text-98 {
    font-weight: bold;
    color: white;
    letter-spacing: 0;
    margin-right: 24px;
}

.field-row-stacked-98 {
    display: flex;
    flex-direction: column;
}
.field-row-stacked-98 * + * {
    margin-top: var(--grouped-element-spacing);
}

.form-98 input[type="text"],
.form-98 input[type="password"],
.form-98 input[type="email"],
.form-98 select,
.form-98 textarea {
    padding: 3px 4px;
    border: none;
    box-shadow: var(--border-field);
    background-color: var(--button-highlight);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
.form-98 input[type="text"],
.form-98 input[type="password"],
.form-98 input[type="email"],
.form-98 select {
    height: var(--fs-500);
}
.form-98 input[type="text"],
.form-98 input[type="password"],
.form-98 input[type="email"] {
    /* For some reason descenders are getting cut off without this */
    line-height: 2;
}
.form-98 input[type="email"]:disabled,
.form-98 input[type="password"]:disabled,
.form-98 input[type="text"]:disabled,
.form-98 textarea:disabled {
    background-color: var(--surface);
}

/* Block */
.hero {
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    z-index: 10;
}
.hero-title h1 {
    font-size: var(--fs-800);
}
.hero-title h1:first-child {
    letter-spacing: 0.25em;
    border-bottom: solid;
}
.hero-title div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 3em;
}
@media (min-width: 40em) {
    .hero-title div {
        justify-content: space-between;
        flex-direction: row;
    }
}

.socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: clamp(1.8rem, 0.8rem + 2.01vw, 2.23rem);
    list-style: none;
}
.socials-link {
    display: inline-block;
    margin: var(--fs-300) 0 0 0;
    color: var(--clr-neutral-300);
    --fa-inverse: var(--clr-primary-200);
    transition: color .7s, text-shadow 0.5s;
}
.socials-link:hover,
.socials-link:focus {
    color: var(--clr-primary-300);
    --fa-inverse: var(--clr-neutral-100);
    text-shadow: 0 0 .2em var(--clr-primary-200);

}
@media (min-width: 40em) {
    .socials {
        justify-content: flex-start;
        margin: var(--fs-300) 0 0 var(--fs-300);
    }
    .socials-link {
        margin: var(--fs-300) 0 0 0;
    }
}

.project {
    background:
            linear-gradient(
                    170deg,
                    var(--bg-clr-secondary-400),
                    var(--bg-clr-secondary-200)),
            url('../img/noise.svg');
    border-radius: .2rem;
    overflow: hidden;
    box-shadow: 0 0 .3em var(--clr-neutral-100);
}
.project:nth-child(even) {
    background:
            linear-gradient(
                    170deg,
                    var(--bg-clr-secondary-200),
                    var(--bg-clr-secondary-400)),
            url('../img/noise.svg');
}
.project:nth-child(3n) {
    background:
            linear-gradient(
                    200deg,
                    var(--bg-clr-secondary-200)40%,
                    var(--bg-clr-secondary-400)),
            url('../img/noise.svg');
}
.project:nth-child(4n) {
    background:
            linear-gradient(
                    200deg,
                    var(--bg-clr-secondary-200)40%,
                    var(--bg-clr-secondary-400)),
            url('../img/noise.svg');
}
.project-image {
    height: 7em;
}
.project-image:after {
    content: "";
    display: block;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -1.5em 2em -1em var(--clr-neutral-100);
}
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--fs-300);
}
.project p {
    margin-top: var(--fs-600);
}

#site-footer {
    padding: 2rem 0;
    background:
            linear-gradient(
                    200deg,
                    var(--bg-clr-secondary-200)40%,
                    var(--bg-clr-secondary-400)),
            url('../img/noise.svg');
}

.form-container {
    margin: 2rem auto auto;
}
@media (min-width: 40em) {
    .form-container {
        max-width: 70%;
    }
}
.contact-form {
    display: grid;
}
.contact-form > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
